*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.main_container{
  display: flex;
  justify-content: space-around;
}
.dargndrop{
  background-color: black;
  min-width: 150px;
  min-height: 150px;
  padding: 5px;
}
.dndItem p{
  color: white;
  background-color: grey;
  padding: 5px;
}
.fullCalenderContainer{
  width: 400px;
  height: 200px;
}
.modalConatiner{
  position: fixed;
  z-index: 1;
  height: 70vh;
  width: 30vw;
  background-color: #fff;
  top: 8%;
  left: 50%;
  transform: translatex(-50%);
  transition: opacity 200ms ease-in-out;
  box-shadow: 2px 2px 2px rgb(247, 240, 240);
  border-radius: 4px;
}
.header{
  height: 36px;
  width: 100%;
  background-color: #f1f3f4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
}
.header i{
  padding: 10px;
  font-size: 20px;
}
.dropDownContainer{
  margin-top: 10px;
}
.dropDownList li{
  list-style: none;
  width: 100%;
  background-color: thistle;
  cursor: pointer;
  padding: 10px 5px;
  font-size: 20px;
}

.dropDownItem1{
  background-color: rgb(167, 210, 228) !important;
  border: 2px solid rgb(226, 138, 138);
}
.btn{
  width: 100%;
  margin-top: 20px;
  background-color: rgb(107, 107, 240);
  font-size: 24px;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.editContainer{
  position: fixed;
  z-index: 10;
  height: 70vh;
  width: 30vw;
  background-color: #fff;
  top: 8%;
  left: 50%;
  transform: translatex(-50%);
  transition: opacity 200ms ease-in-out;
  box-shadow: 2px 2px 2px rgb(247, 240, 240);
  border-radius: 4px;
}
.timeContainer{
  padding: 10px;
}
.timeContainer input{
  margin: 0 5px;
  /* width: 100px; */
  padding:0 20px ;
}
.fc .fc-timegrid-slot-minor {
  border-top-style: dotted;
  height: 5.5em !important;
}
.fc .fc-timegrid-slot {
  height: 5.5em !important;
  border-bottom: 0 /* each cell owns its top border */;
  width: 95% !important;
}
.mainContainer{
  height: 100%;
  /* padding: 5px; */
  background-color: brown;
  display: flex !important;
  flex-direction: column !important;
}
.btnContain{
  width: 100%;
  margin-left: 100px;
  padding:10px;
}
.btnContain input{
  margin-left: 10px;
}

.fc-timegrid-event-harness-inset .fc-timegrid-event, .fc-timegrid-event.fc-event-mirror, .fc-timegrid-more-link{
    width: 95% !important;
    
}